.navbar-header {
  float: left;
  padding-left: 15px;
}

.navbar-brand {
  margin-left: -15px;
}

.navbar-nav {
  float: left;
  margin: 0;
}

.navbar-nav li {
  float: left;
}

.navbar-nav li a{
  padding: 15px;
}

.genres li a{
  color: black;
}

.genres li a:hover{
  text-decoration: none;
}

body {
  padding-bottom: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.btn {
  border-radius: 2px;
}

.jumbotron {
  margin-top: -20px;
  border-bottom: 1px solid #dae2e4;
}

.genres {
  cursor: pointer;
  font-size: 22px;
  text-align: center;
}

.genres li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 5px;
    margin-left: 5px;
}

.genres li:hover {
    background-color: #3D13C7;  
}
    
.search {
  color: #4f4f4f;
  font-weight: 300;
  font-size: 1.6em;
  padding: 7px;
  margin-top: -10px;
  border: 0;
  background-color: transparent;
  outline: none;
}

.panel {
  border-color: #cfd9D7;
  border-radius: 2px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.thumbnail a>img{
    width: 100%;
    height: 150px;
}


.thumbnail img:hover{
    -webkit-transition: all 0.3s ease;
    -moz-transition:    all 0.3s ease;
    -o-transition:      all 0.3s ease;
    -ms-transition:     all 0.3s ease;
    transition:         all 0.3s ease;
    opacity: 0.5;
}

.season-image{
  max-width: 200px;
  margin-bottom: 10px;
}

.seasons{
  padding-left: 10px;
}

.seasons {
  cursor: pointer;
  font-size: 20px;
}

.seasons li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 5px;
    margin-left: 5px;
    background-color: #222;
}

.seasons li a{
  color: #888;
}

.seasons li:hover{
    text-decoration: none;
    border-color: #3eb495; 
    background: #3eb495;
    color: #fff;
}


