<div id="wait-animation" ng-if="!dataHasLoaded">
  <div class="circle"></div>
  <div class="circle1"></div>
</div>

<div ng-if="dataHasLoaded">
<div class="jumbotron">
  <div class="container">
    <ul class="genres">
      <li ng-repeat="genre in genres" class="label label-default">
        <a ng-click="getTvSeries(genre.id)">{{genre.name}}</a>
      </li>
    </ul>
  </div>
</div>

 
 <div class="panel-body">
   <div class="row serieslist">
     <div ng-repeat="series in TvSeries">
      <div class="col-xs-4 col-md-3">
        <div class="thumbnail">
          <a href="/shows/{{series.id}}">
           <img class="img-rounded " ng-src="https://image.tmdb.org/t/p/w185/{{series.image}}" style="height:250px;">
          </a>  
        </div>
        <div class="text-center">
          <a class="series-name" href="/shows/{{series.id}}">{{series.name}}</a>
        </div>
     </div>
     </div>
  </div>
</div>
</div>